<%- include ("../partials/header.ejs") %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



    <div class="container mt-5">
        <h1 class="text-center">Admin Dashboard</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Clients</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Courriel</th>
                            <th>Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (Array.isArray(userDetails) && userDetails.length>= 0) { %>
                            <% userDetails.forEach(user=> { %>
                                <tr>
                                    <td>
                                        <%= user.E_ID %>
                                    </td>
                                    <td>
                                        <%= user.E_NOM %>
                                    </td>
                                    <td>
                                        <%= user.E_COURRIEL %>
                                    </td>
                                    <td>
                                        <%= user.E_NUMBER %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="4">Pas de Clients</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Revenu</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID Produit</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Catégorie</th>
                            <th>Quantité</th>
                            <th>ID Utilisateur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (Array.isArray(products) && products.length>= 0) { %>
                            <% products.forEach(product=> { %>
                                <tr>
                                    <td>
                                        <%= product.E_IDPRODUIT %>
                                    </td>
                                    <td>
                                        <%= product.E_NOM %>
                                    </td>
                                    <td>
                                        <%= product.E_PRIX %>
                                    </td>
                                    <td>
                                        <%= product.E_CATEGORIE %>
                                    </td>
                                    <td>
                                        <%= product.E_QUANTITE %>
                                    </td>
                                    <td>
                                        <%= product.E_USER_ID %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="6">Pas de Produits</td>
                                        </tr>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <% include ("../partials/footer") %>