<%- include("../partials/header.ejs") %>
    <style>
        .titre {
            font-size: 64px;
            color: white;
            font-family: 'Khand';
            flex-direction: column;
            text-align: center;
            margin-top: -50px;
        }

        body {
            background-color: #41455D;
        }

        .items_page {
            font-family: 'Khand';
            flex-direction: column;
            color: #FFFFFF;
            font-size: 32px;
        }

        .form-signin {
            width: 55%;
            margin: -10;
        }

        .form-control {
            margin-bottom: 25px;
        }

        .btn-primary {
            background-color: grey;
            border-color: grey;
        }

        .custom-inputs {
            background-color: #D9D9D9;
            width: 489px;
            height: 35px;
            border: none;
            display: block;
        }

        .custom_butt {
            margin-left: 650px;
            margin-top: -500px;
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>

    <link href="https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <div class="container">
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="titre">SE JOINDRE AU LAB</div>



        <div class="row">


            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= userDetails.E_NOM %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prenom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= userDetails.E_PRENOM %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Courriel</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= userDetails.E_COURRIEL %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mobile</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= userDetails.E_NUMBER %>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mot De Pass</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <%= userDetails.E_PASSWORD%>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../partials/footer.ejs") %>