<%- include("../partials/header.ejs") %>
    <link href='https://fonts.googleapis.com/css?family=Krona+One' rel='stylesheet'>

    <style>
        body {
            font-family: 'Krona One', sans-serif;
            background-color: #41455D;
            color: #ffffff;
        }


        .avatar {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-top: 20px;
        }

        .btn {
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

        .btn-success {
            background-color: #28a745;
            color: #fff;
        }

        .btn-success:hover {
            background-color: #218838;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .btn-danger {
            background-color: #dc3545;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #c82333;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .btn-info {
            background-color: #17a2b8;
            color: #fff;
        }

        .btn-info:hover {
            background-color: #138496;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .list-group-item {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }

        .list-group-item strong {
            display: inline-block;
            min-width: 100px;
        }
    </style>

    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>Mon profil</h1>
            </div>
            <div class="col-sm-2">
                <a class="pull-right"><img title="profile image" class="img-circle img-responsive"
                        src="/gym-website-logo-without-a-person-upscaled.png"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                </div>
            </div>
            <!--/col-3-->
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="/update-details" method="post" id="registrationForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>Votre identifiant</h4>
                                    </label>
                                    <input type="number" class="form-control" name="userId"
                                        value="<%= userDetails.E_ID %>" readonly title="Your identifier">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>Prénom</h4>
                                    </label>
                                    <input type="text" class="form-control" name="prenom"
                                        value="<%= userDetails.E_PRENOM %>" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="name"
                                        value="<%= userDetails.E_NOM %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Numéro de téléphone</h4>
                                    </label>
                                    <input type="number" class="form-control" id="num" name="num" maxlength="10"
                                        value="<%= userDetails.E_NUMBER %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Courriel</h4>
                                    </label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        value="<%= userDetails.E_COURRIEL %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-success" type="submit">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Sauver les modifications
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <form action="/delete-account" method="post">
                                    <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
                                </form>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <a class="btn btn-info" target="__blank" href="/logout">Se déconnecter</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <% if (userDetails.isAdmin) { %>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="/event/admin" class="btn btn-primary">Admin</a>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4>Abonnements Actifs</h4>
                                <% if (subscriptions && subscriptions.length> 0) { %>
                                    <ul class="list-group">
                                        <% subscriptions.forEach(subscription=> { %>
                                            <li class="list-group-item">
                                                <strong>Nom:</strong>
                                                <%= subscription.productName %> <br>
                                                    <strong>Prix:</strong>
                                                    <%= subscription.price %> $ <br>
                                                        <strong>Début:</strong>
                                                        <%= new Date(subscription.startDate).toLocaleDateString() %>
                                                            <br>
                                                            <strong>Fin:</strong>
                                                            <%= new Date(subscription.endDate).toLocaleDateString() %>
                                            </li>
                                            <% }) %>
                                    </ul>
                                    <% } else { %>
                                        <p>Pas d'abonnements actifs</p>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <!--/tab-pane-->
                </div>
                <!--/tab-content-->
            </div>
            <!--/col-9-->
        </div>
        <!--/row-->
    </div>
    <hr>

    <script>
        $(document).ready(function () {
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });

        function validatePhoneNumber(input) {
            var phoneNumberPattern = /^\d{10}$/;
            return phoneNumberPattern.test(input);
        }

        document.querySelector("form[action='/update-details']").addEventListener("submit", function (event) {
            var numInput = document.getElementById("num");
            var phoneNumber = numInput.value;

            if (!validatePhoneNumber(phoneNumber)) {
                event.preventDefault();
                alert("Veuillez entrer un numéro de téléphone valide de 10 chiffres.");
            }
        });
    </script>
    <%- include("../partials/footer.ejs") %>